*,
::after,
::before {
	box-sizing: border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
	/* colors */
	/* credits: rocketSeat and John Smilga */
	/* purple */
	--purple-light: #996dff;
	--purple-mid: #8257e5;
	--purple-dark: #633bbc;
	--purple-low: #271a45;

	/* discover-blue */
	--discover-blue-light: #6a80ff;
	--discover-blue-mid: #4863f7;
	--discover-blue-dark: #3249cb;
	--discover-blue-low: #182049;

	/* green */
	--green-light: #00b37e;
	--green-mid: #00875f;
	--green-dark: #015f43;
	--green-low: #00291d;

	/* blue */
	--blue-50: #e0fcff;
	--blue-100: #bef8fd;
	--blue-200: #87eaf2;
	--blue-300: #54d1db;
	--blue-400: #38bec9;
	--blue-500: #2cb1bc;
	--blue-600: #14919b;
	--blue-700: #0e7c86;
	--blue-800: #0a6c74;
	--blue-900: #044e54;

	/* grey */
	--grey-50: ##e1e1e6;
	--grey-100: #c4c4cc;
	--grey-200: #bcccdc;
	--grey-300: #8d8d99;
	--grey-400: #7c7c8a;
	--grey-500: #505059;
	--grey-600: #323238;
	--grey-700: #29292e;
	--grey-800: #202024;
	--grey-900: #121214;
	--grey-950: #09090a;
	/* rest of the colors */
	--black: #222;
	--white: #fff;
	--red-light: #f8d7da;
	--red-dark: #842029;
	--green-light: #d1e7dd;
	--green-dark: #0f5132;

	/* fonts  */
	--headingFont: 'Roboto Condensed', Sans-Serif;
	--bodyFont: 'Cabin', Sans-Serif;
	--small-text: 0.875rem;
	--extra-small-text: 0.7em;
	/* rest of the vars */
	--backgroundColor: var(--grey-50);
	--textColor: var(--grey-900);
	--borderRadius: 0.25rem;
	--letterSpacing: 1px;
	--transition: 0.3s ease-in-out all;
	--max-width: 1120px;
	--fixed-width: 500px;
	--fluid-width: 90vw;
	--breakpoint-lg: 992px;
	--nav-height: 6rem;
	/* box shadow*/
	--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
